{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "rules": {
    "semi": 0,
    "no-underscore-dangle": "off",
    "no-mixed-operators": "off",
    "max-len": "off"
  }
}
