{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "rules": {
    "semi": 0,
    "no-underscore-dangle": "off",
    "no-mixed-operators": "off",
    "max-len": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "no-else-return": "off",
    "object-curly-newline": "off",
    "no-confusing-arrow": "off",
    "function-paren-newline": "off"
  }
}
